# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Build directory
/bin/
/build/
/dist/

# Go workspace file
go.work
go.work.sum

# Dependency directories (jika tidak pakai Go modules)
vendor/

# Go test & coverage
coverage.out
coverage.txt
*.coverprofile

# IDE & Editor
.vscode/
.idea/
*.swp
*.swo
*.tmp

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env
.env.*
